.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-container-1{
  margin: 1em;
}

.A, .B, .C{background-color: #ea5c9f;}

.D, .E, .F, .G, .H, .I{background-color: #f85e92;}

.J, .K, .L, .M{background-color: #f9921c;}

.N, .O, .P{background-color: #ffdb15;}

.Q, .R, .S, .T{background-color: #96cc3a;}

.U, .V, .W{background-color: #61d1d5;}

.X, .Y{background-color: #526cb9;}

.Z{background-color: #ac83bb;}
